.footer {
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  line-height: 2rem;
  margin-bottom: 1rem;
  border-top: 1px solid rgba(128, 128, 128, 0.2);
  padding-top: 2rem;
  margin-top: 2rem;

  a {
    color: $link-color;
  }
}
